body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4e4c1;
    padding: 0;
}

header {
    background-color: #6b4226; /* Couleur de fond inspirée du style western */
    color: #fff; /* Couleur du texte */
    padding: 10px 0;
}

.container {
    width: 100%;
    max-height: 70%;
    margin: 0 auto; /* Centrer le contenu */
    display: flex;
    justify-content: space-between; /* Aligner les éléments à gauche et à droite */
    align-items: center;
}

.logo img {
    max-width: 150px; /* Ajuster la taille du logo selon les besoins */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utilisation des flexbox pour le menu */
}

nav ul li {
    margin-left: 20px; /* Espacement entre les éléments du menu */
}

nav ul li:first-child {
    margin-left: 0; /* Pas de marge à gauche pour le premier élément */
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Couleur du texte des liens */
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline; /* Effet de soulignement au survol */
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #6b4226;
    color: #fff;
    width: 100%;
}   

.content{
    max-height: 70%;
}

.wrapper{
    max-height: 70%;
}